# AI context
.ai_context/

# Cursor settings
.cursor/mcp.json
.DS_Store

# Obfuscation related
app.*.map.json
app.*.symbols

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# CocoaPods（iOS）
ios/Pods/
ios/Podfile.lock
ios/.symlinks/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/

# Android Studio build outputs
/android/app/debug
/android/app/profile
/android/app/release

# FVM
.fvm/
